<p style="color: green"><%= notice %></p>

<%= render @series %>

<div>
  <%= link_to "Edit this series", edit_series_path(@series) %> |
  <%= link_to "Back to series", series_index_path %>

  <%= button_to "Destroy this series", @series, method: :delete %>
</div>
